@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Jost:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
  --color-bg-dark: #222831;
  --color-bg-medium: #393E46;
  --color-accent: #00ADB5;
  --color-accent-hover: #007b82;
  --color-text-light: #EEEEEE;
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --bs-gutter-x: 2.5rem;
  --bs-gutter-y: 0;
  
}
body{
  font-family: "Jost", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-dark);
}
.container{
  width: 100%;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  margin-right: auto;
  margin-left: auto;
}
.container2{
  min-height: 100vh;    
    display: flex;
    flex-direction: column;
}
/*----------------header-----------------------*/
header{
  background-color: var(--color-bg-medium);
  display: flex;
  flex-direction: column;
  width: 100%;
}
nav{
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 500px;
  padding: 8px;
  border-bottom: 1px solid #edeff2;
}
nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav ul li{
  margin-right: 15px;
  padding-right: 15px;
  display: inline-block;
  box-sizing: border-box;
}
nav ul li a {
  position: relative;
  text-decoration: none;
  color: var(--color-accent);
  font-size: 14px;
  box-sizing: border-box;
  padding: 0 5px;
  line-height: 1;
}
nav ul li a::before,
nav ul li a::after {
  content: '';
  position: absolute;
  width: 2px;
  min-width: 2px;
  max-width: 2px;
  background-color: var(--color-accent);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.5s ease;
  will-change: transform;
}
nav ul li a::before {
  left: 0;
  bottom: 0;
}
nav ul li a::after {
  right: 0;
  top: 0;
  transform-origin: top;
}
nav ul li a:hover::before,
nav ul li a:hover::after {
  height: 100%;
  transform: scaleY(1);
}
nav ul:nth-child(2) li:nth-child(1), nav ul:nth-child(2) li:nth-child(2){
  margin-right: 15px;
  padding-right: 15px;
  display: inline-block;
}
nav ul:nth-child(2) li:nth-child(3) a{
  color: var(--color-accent);
  font-size: 14px;
  padding: 0 10px;
}
nav ul:nth-child(2) li:nth-child(3) a i{
  transition: all .4s ease-out 0s;
}
nav ul:nth-child(2) li:nth-child(3) a:hover i{
  transform: rotateY(180deg);
  color: var(--color-accent-hover);
}
.main-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}
.main-nav .logo{
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.main-nav .logo i{
  font-size: 30px;
  border: none;
  border-radius: 50%;
  background-color: red;
  width: 55px;
  height: 55px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  color: white;
}
.main-nav .logo h1{
  font-weight: 500;
  color: var(--color-text-light);
}
.main-nav .logo h1 span{
  font-weight: 300;
}
.nav-links ul li{
  width: fit-content;
  height: fit-content;
  position: relative;
  margin:25px 16px;
}
.nav-links ul li a {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  color: var(--color-accent);
  font-weight: 600;
  display: inline-block;
  text-transform: capitalize;
  text-decoration: none;
  transition: color 0.3s ease-out 0s;
  padding: 10px;
}
.nav-links ul li a:hover {
  color: var(--color-accent-hover);
}
.nav-links ul li .span {
  position: absolute;
  background-color: var(--color-accent);
  transition: all 0.4s ease;
  z-index: 0;
  box-sizing: border-box;
  will-change: transform;
}
.span1 {
  top: 0;
  left: 0;
  width: 1.5px;
  height: 0;
}

.span2 {
  bottom: 0;
  right: 0;
  width: 1.5px;
  height: 0;
}

.span3 {
  top: 0;
  right: 0;
  height: 1.5px;
  width: 0;
}
.span4 {
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 0;
}

/* التأثير عند الـ hover */
.nav-links ul li:hover .span1,
.nav-links ul li:hover .span2{
  height: 100%;
}  

.nav-links ul li:hover .span3,
.nav-links ul li:hover .span4 {
  width: 100%;
}
.main-nav .icons ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icons ul li{
  position: relative;
  z-index: 999;
}
.icons ul li:last-child::after{
  content: '2';
  position: absolute;
  display: flex
;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  top: -13px;
  left: 15px;
  color: white;
  font-weight: 500;
  z-index: -1;
}
.main-nav .icons ul li a{
  color: var(--color-accent);
  cursor: pointer;
  padding: 31px 13px;
  font-weight: 400;
}
.icons ul li a:hover{
  color: var(--color-accent-hover);
  transition: all .3s ease-out 0s;
}
.nav-links .pages-dropdown .links {
  position: absolute;
  top: 104%;
  right: -160%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  border: 2px solid #edeff2;
  border-radius: 15px;
  padding: 10px 20px;
  width: 290px;
  z-index: 999;

  /* مهم */
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.4s ease-in;
}
.links ul:first-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}
.links ul:last-child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}
.nav-links ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-links ul .pages-dropdown .dropdown-span{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}

.nav-links ul .pages-dropdown .dropdown-span i{
  left: -15px;
  font-size: 12px;
  position: relative;
  opacity: 9;
  color: var(--color-accent);
}
.pages-dropdown ul li{
  margin: 0;
  transition: transform 0.5s ease;
}
.pages-dropdown ul li:hover{
  transform: scale(1.1);
}
.pages-dropdown:hover .links {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.links ul li a{
  padding: 0;
  margin: 8px;
}
.links ul h3{
  margin: 8px;
  padding-bottom: 8px;
  border-bottom: 3px solid #edeff2;
  color: var(--color-bg-medium);
}
.promo-banner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--color-accent-hover);
  padding: 11px 0px;
}
.promo-banner p{
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin: 0 5px;
  transition: all .3s ease-out 0s;
}
.promo-banner a{
  color: var(--color-bg-dark);
  text-decoration: none;
  border-bottom: 3px solid var(--color-bg-dark);
  font-weight: 500;
  font-size: 16px;
  position: relative;
  display: inline-block;
  transition: all .3s ease-out 0s;
}
.promo-banner a:hover{
  scale: 1;
  letter-spacing: 2px;
}
/*----------------------------------main---------------------*/
main{
  height: 100vh;
  flex: 1;
}
.hero {
  background-image: url('https://plus.unsplash.com/premium_photo-1690820317415-9faef256f937?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; /* Ensures the image is centered */
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hero img{
  height: 500px;
}
.hero-section{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30%;
  text-align: center;
  gap: 15px;
}
.hero-section span{
  color: var(--color-accent);
  font-family: "Clicker Script", cursive;
  font-size: 50px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 1px;
  display: block;
}
.hero-section h1{
  font-size: 55px;
  font-weight: 500;
  color: var(--color-bg-dark);
  line-height: 1.3;
  margin-bottom: 2px;
}
.hero-section p{
  color: var(--color-bg-medium);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 31px;
  padding: 0 50px;
}
.hero button{
  background-color: var(--color-accent);
  font-weight: 500;
  border: 1px solid #292621;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 47px;
  line-height: 16px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.hero button:hover {
  background-color: white;
  color: #292621 !important;
  border: 1px solid #292621 !important;
}

/*-------------------Collection------------------*/
.collection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 45px;
  height: 400px;
  margin: 0 70px;
}
.collection .items-img{
  height: 350px;
  position: relative;
}
.collection .items-img::before{
  background: linear-gradient(to bottom, rgba(41, 38, 33, 0) 0%, #292621 100%);
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: -3px;
  content: "";
  z-index: 1;
  transition: all 0.4s ease-out 0s;
}
.collection img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.4s ease-out 0s;
}
.collection .items-details{
  transition: all .4s ease-out 0s;
  position: absolute;
  left: 25px;
  bottom: 0px;
  text-align: center;
  right: 0;
  z-index: 2;
}
.collection .items-details h4{
}
.collection .items-details h4 a{
    color: white;
    font-size: 24px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 9px;
    text-decoration: none;
}
.browse-btn{
  color: var(--color-text-light);
  font-weight: 500;
  font-size: 16px;
  position: relative;
  display: inline-block;
  transition: all .4s ease-out 0s;
  opacity: 0;
  visibility: hidden;
}
.items-img:hover img{
  transform: scale(1.02);
}
.items-img:hover::before{
  transform: scale(1.02);
}
.items-img:hover .items-details{
  bottom: 40px;
}
.items-img:hover .items-details a{
  opacity: 1;
  visibility: visible;
}
.items-img .items-details .browse-btn:hover{
  transform: scale(1.2);
}
/*--------------------Trending----------------------------------*/
.trending{
  display: flex;
  flex-direction: column;
  height: 500px;
  margin: 90px 35px;
}
.trending-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-right: 35px;
  margin-left: 35px;
  border-bottom: 2px solid #dee2e6;
  padding-bottom: 20px;
}
.trending-head h1{
  color: var(--color-text-light);
  font-size: 34px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 2px;
}
.trending-head .you-like{
  border: none;
}
.trending-head ul{
  list-style: none;
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.trending-head ul li{
  margin: 0 20px;
}
.trending-head ul li a{
  text-decoration: none;
  font-family: "Jost", sans-serif;
  color: var(--color-text-light);
  font-size: 16px;
  font-weight: 500;
  border: 0;
  padding: 29px 12px;
  padding-top: 0;
  border-bottom: 4px solid transparent;
}
.trending-head ul li .active{
  color: var(--color-accent);
  border-bottom: 4px solid var(--color-accent);
  background: none;
}
.trending-content{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 96.8%;
  justify-content: center;
  align-items: baseline;
  margin: 0 auto;
}
.properties-card{
  background-color: var(--color-text-light);
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 70%;
}
.properties-card .properties-img{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.properties-card .properties-img img{
  -webkit-transition: all .4s ease-out 0s;
  -moz-transition: all .4s ease-out 0s;
  -ms-transition: all .4s ease-out 0s;
  -o-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
  transform: scale(1.01);
  object-fit: cover;  
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

}
.properties-card .properties-img .socal_icon{
  transition: all .2s ease-out 0s;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  bottom: 20px;
  text-align: center
}
.properties-card .properties-img .socal_icon a {
  transition: all .5s ease-out 0s;
  background: #fff;
  color: #292621;
  width: 64px;
  height: 50px;
  display: inline-block;
  font-size: 24px;
  text-align: center;
  line-height: 54px;
  margin: -3px
}
.properties-card .properties-img .socal_icon a:hover{
  background: #FF2020;
  color: #fff
}
.properties-card .properties-caption{
  padding: 14px 20px 2px 0px;
  transition: all .4s ease-out 0s
}
.properties-card .properties-caption h3 a{
  color: black;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 6px;
  text-decoration: none;
}
.properties-card .properties-caption .properties-footer{
  -webkit-transition: all .4s ease-out 0s;
  -moz-transition: all .4s ease-out 0s;
  -ms-transition: all .4s ease-out 0s;
  -o-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s
}
.properties-card .properties-caption .properties-footer .price span{
  color: #74706B;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px
}
.properties-card .properties-caption .properties-footer .price span span{
  display: inline-block;
  color: #CEBD9C;
  text-decoration: line-through;
  margin: 0;
  margin-left: 12px
}
.properties-card:hover .properties-caption h3 a{
  color: #FF2020
}
.properties-card:hover .properties-caption .properties-footer .price span{
  color: #292621
}
.properties-card:hover .properties-img img{
  transform: scale(1.03)
}
.properties-card:hover .properties-img .socal_icon {
  opacity: 1;
  visibility: visible
}
.trending1 .image-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}
.trending1 .flip-container {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
}
.trending1 .properties-img:hover .flip-container {
  transform: rotateY(180deg);
}
.trending1.front-img,
.back-img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.trending1 .back-img {
  transform: rotateY(180deg);
}
/*-----------------Customer Testimonial-----------------*/
.testimonial{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-text-light);
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  border-top: 2px solid #74706B;
  border-bottom: 2px solid #74706B;
}
.testimonial iconify-icon{
  color: grey;
}
.testimonial .content .img img{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.content{
  width: 70%;
  text-align: center;
}
.content .h2{
  font-size: 34px;
  font-weight: 500;
  color: var(--color-bg-dark);
  margin-bottom: 40px;
  text-align: center;
}
.content .caption-p{
  line-height: 1.5;
  padding: 0 200px;
  margin-bottom: 32px;
  font-size: 22px;
  color: var(--color-bg-dark);
  font-weight: 400;
}
.content .img-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content .img-title .img{
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .title{
  margin-left: 15px;
  text-align: left;
}
.content .title h2{
  font-family: "Jost", sans-serif;
  color: #292621;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}
.content .title p{
  color: var(--color-bg-medium);
  font-weight: 500;
  line-height: 1.5;
}
/*----------------You May Like--------------*/
section:nth-child(5) .trending-head{
  border: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-bottom: 20px;
}
.trending2 .properties-card{
  height: 100%;
}
.trending2 .properties-img .image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.trending2 .properties-img .main-img,
.trending2 .properties-img .hover-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}

.trending2 .properties-img .hover-img {
  transform: translateY(-100%);
  opacity: 0;
  z-index: 2;
  transition: transform 0.5s ease, opacity 0.5s ease;

}

.trending2 .properties-img:hover .hover-img {
  transform: translateY(0);
  opacity: 1;
}

.trending2 .properties-img:hover .main-img {
  opacity: 0;
}
.trending2 .socal_icon{
  position: absolute;
  z-index: 3;
}
/*----------------latest--------------*/
.latest{
  background-color: var(--color-text-light);
  padding-top: 80px;
  padding-bottom: 29px;
  border-top: 2px solid #74706B;
  border-bottom: 2px solid #74706B;
}
.latest .container h2{
  font-size: 34px;
  display: block;
  font-weight: 500;
  line-height: 1.4;
  margin: 22px auto;
  width: fit-content;
}
.latest .container ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.latest .container ul li{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 30.3%;
  height: 100%;
}
.latest .container ul li .img{
  width: 100%;
  height: fit-content;
  transition: all .3s ease-out 0s;
  cursor: pointer;
}
.latest .container ul li .img:hover img{
  transform: scale(1.02);
}
.latest .container ul li .img img{
  width: 100%;
  height: 400px;
  object-fit: cover;
    transition: all .3s ease-out 0s;
}
.latest .container ul li .caption{
  margin-top: 20px;
}
.latest .container ul li .caption p:first-child{
  color: var(--color-bg-medium);
  margin-bottom: 11px;
  display: block;
}
.latest .container ul li .caption a{
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 12px;
  font-weight: 500;
  display: block;
  color: var(--color-accent);
  transition: all .3s ease-out 0s;
  text-decoration: none;
}
.latest .container ul li .caption a:hover{
  color: var(--color-accent-hover);
}
.latest .container ul li .caption p:last-child{
  color: var(--color-bg-medium);
  margin-bottom: 24px;
}
.latest .container ul li a{
  color: var(--color-accent-hover);
  text-decoration: underline;
  font-weight: 600;
  transition: all .3s ease-out 0s;
}
.latest .container ul li .read-more:hover{
  letter-spacing: .5px;
}
/*-----------------featured--------------*/
.features{
  padding-top: 70px;
  padding-bottom: 10px;
  height: fit-content;
  background-color: var(--color-accent);
  color: white;
}
.features .features-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.features .feature{
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-bottom: 50px;
}
.feature .feature-icon{
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.feature iconify-icon{
  margin-bottom: 26px;
  display: inline-block;
  color: white;
}
.feature .feature-content h3{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
  display: block;
  text-transform: capitalize;
  color: var(--color-bg-dark);
  font-family: "Jost", sans-serif;
}
.feature .feature-content p{
  color: var(--color-bg-medium);
  font-size: 16px;
  transition: all .2s ease-out 0s;
}

.feature:hover iconify-icon{
  color: var(--color-bg-medium);
  transform: rotatex(360deg);
  transition: all .4s ease-out 0s;
  will-change: transform;
}
/*-------------footer---------*/
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-dark);
  margin-top: auto;
}
.padding{
  padding-top: 63px;
    padding-bottom: 60px;
    width: 100%;
    height: 100%;
}
.top-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 40px;
  margin-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}
.top-footer .top-left h1{
  color: var(--color-text-light);
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 12px;
}
.top-footer .top-left p{
  color: var(--color-text-light);
  font-size: 15px;
}
.top-middle{
  display: flex;
  flex-direction: row;
  width: 40%;
}
.top-footer .top-middle input{
  width: 74%;
  height: 60px;
  border: 0;
  color: #000;
  background: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0;
  padding: 15px 24px;
  font-size: 16px
}
.top-footer .top-middle button{
  width: 24%;
  height: 60px;
  border: 0;
  background: var(--color-accent);
  border-radius: 0;
  padding: 13px 24px;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
.top-middle button:hover{
  background-color: var(--color-accent-hover);
  transform: scale(1.1);
}
.top-right ul{
  list-style: none;
}
.top-right ul li a{
  color: var(--color-accent);
  font-size: 24px;
  display: inline-block;
  text-align: center;
  margin-left: 23px;
}
.top-right ul li a:hover{
  color: var(--color-accent-hover);
  transform: scale(1.01);
}
.middle-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.middle-footer .logo{
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.middle-footer .logo i{
  font-size: 30px;
  border: none;
  border-radius: 50%;
  background-color: red;
  width: 55px;
  height: 55px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  color: white;
}
.middle-footer .logo h1{
  font-weight: 500;
  color: var(--color-text-light);
}
.middle-footer .logo h1 span{
  font-weight: 300;
}
.footer-menu-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 70%;
}
.footer-menu-section ul{
  list-style: none;
}
.footer-menu-section .menu h4{
  color: var(--color-text-light);
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 400;
}
.menu{
  margin-bottom: 50px;
  width: 100%;
}
.menu ul{
  margin: 0;
  padding: 0;
}
.menu ul li{
  margin-bottom: 8px;
}
.menu ul li a{
  color: var(--color-accent);
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline transparent;
  transition: all .4s ease-out 0s;
  width: fit-content;
}
.menu ul li a:hover{
  text-decoration: underline;
  letter-spacing: 1px;
}
.end-footer{
  border-top: 1px solid rgba(255, 255, 255, 0.14);
  padding-top: 39px;
  padding-bottom: 18px;
  width: 90%;
  margin: 0 auto;

}
.end-footer .copyright p{
  color: var(--color-text-light);
  margin: 0 auto;
  width: fit-content;
  color: #BBB9B5;
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
}
.end-footer .copyright p a{
  color: var( --color-accent);
  text-decoration: underline;
  transition: all .4s ease-out 0s;
}
.end-footer .copyright p a:hover{
  letter-spacing: 1px;
}
.end-footer .copyright p span{
  display: inline-block; 
  animation: beat 1s infinite ease-in-out;
}
@keyframes beat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
